---
siteTitle: "Is my bus line changing?"

---

<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'head' %}
	{% include 'tracking/head' %}
</head>

<body>
	{% include 'tracking/body' %}
	{% include 'header' %}

	{{ content }}

	{% include 'tracking/footer' %}
</body>

</html>