<!---------------------- START HEADER ---------------------->
<header class="mybus-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
	<div class="header-container container-fluid d-flex align-items-center">
		<a href="https://www.metro.net"><img class="d-flex align-items-center logo pl-3"
				src="{{ '/img/M-Metro_reversed_128h.png' | url }}" height="36" alt="logo"></a>

		<div class="nav-translate d-flex align-items ms-auto link-light pr-3">
			<div class="nav-translate__clickable">
				<div class="l-footer__translate" style="display:none" id="google_translate_element_desktop"></div>
				<div class="l-footer__translate" style="display:none" id="google_translate_element_mobile"></div>
			</div>
			<div class="nav-translate__presentation">
				<svg class="svg-icon" role="img" height="28" width="34" focusable="false" viewBox="0 0 24 24">
					<path
						d="M17 1c3.309 0 6 2.691 6 6v6a6.01 6.01 0 0 1-5 5.917V23a.997.997 0 0 1-1 1c-.189 0-.379-.054-.544-.161L8.989 19H7c-3.309 0-6-2.691-6-6V7c0-3.309 2.691-6 6-6zm0 2H7C4.794 3 3 4.794 3 7v6c0 2.206 1.794 4 4 4h2.285c.194 0 .382.056.544.161L16 21.16V18a1 1 0 0 1 1-1c2.206 0 4-1.794 4-4V7c0-2.206-1.794-4-4-4zm-5 .75A6.257 6.257 0 0 1 18.25 10 6.257 6.257 0 0 1 12 16.25 6.257 6.257 0 0 1 5.75 10 6.257 6.257 0 0 1 12 3.75zm1.517 7h-3.033c.134 2.253.837 3.699 1.342 3.982l.174.018c.06 0 .116-.016.174-.018.506-.283 1.208-1.729 1.343-3.982zm3.157 0H14.93c-.066 1.245-.3 2.452-.69 3.413a4.731 4.731 0 0 0 2.434-3.413zm-7.603 0H7.326a4.735 4.735 0 0 0 2.435 3.413c-.392-.962-.624-2.168-.69-3.413zm5.169-4.913c.39.961.624 2.168.69 3.413h1.744a4.731 4.731 0 0 0-2.434-3.413zM12 5.25c-.06 0-.115.016-.174.018-.505.283-1.208 1.729-1.342 3.982h3.033c-.135-2.253-.837-3.699-1.343-3.982-.058-.002-.114-.018-.174-.018zm-2.24.587A4.735 4.735 0 0 0 7.327 9.25H9.07c.066-1.245.298-2.452.69-3.413z"
						fill="#DCDCDC" fill-rule="evenodd"></path>
				</svg> Translate
			</div>
		</div>
	</div>
</header>
<!---------------------- END HEADER ---------------------->