<p class="pb-lg-3 px-lg-5">Metro is making service adjustments on June 19 to increase
	reliability. </p>

<hr class="d-none d-lg-block">
<div class="py-lg-4">
	<div>
		<button type="button" class="btn btn-dark col-12 mb-4 cta" id="requestAllChanges">See Updates</button>
	</div>
</div>