---
layout: default

# Normal state between shakeups (starting one month after a shakeup):
# - mode: 'email'
# - message: 'Metro is relentlessly focused on making your bus system better. Get advanced notice of future improvements to your bus line.'
#
# When the shakeup date is known but no details are available yet:
# - mode: 'email'
# - message: 'Metro is making service changes to bus lines starting on Sunday, December 11, to provide riders with more reliable and predictable service. Get advanced notice of the upcoming improvements to your bus line.'
#
# Leading up to a shakeup when Takeone information is available on the site:
# - mode: 'all'
# - message: 'Metro is making service changes to bus lines starting on Sunday, October 23, to provide riders with more reliable and predictable service.'
#
# IF line/stop selections are made available:
# - mode: 'select'
# - message: 'Metro is making service changes to bus lines starting on Sunday, October 23, to provide riders with more reliable and predictable service.'
#
# Once the shakeup is live and for 1 month after:
# - mode: 'all' or 'select'
# - message: 'Metro has made service changes to bus lines on Sunday, October 23, to provide riders with more reliable and predictable service.'

# modes: 'email', 'all', 'select'
mode: 'all'
message: 'Metro is making service changes to bus lines starting on Sunday, October 23, to provide riders with more reliable and predictable service.'

css: 
- '/css/site.css'
- '/css/index.css'
- '/css/common.css'
- '/css/activecampaign.css'

---

<div class="usa-section section-select flex-1 display-flex flex-row flex-align-center padding-y-0">
	<div class="div-container">
		<div class="grid-row grid-gap">
			<div class="tablet:grid-col-5">
				<div class="select-content padding-5">
					<h1>Is my bus line changing?</h1>

					{% case mode %}
						{% when 'all' %}
							{% include 'index/all-changes' %}
						{% when 'select' %}
							{% include 'index/select-line' %}
						{% else %}
							{% include 'index/email-signup' %}
					{% endcase %}

				</div>
			</div>
			<div class="tablet:grid-col-7">
				<img src="{{ '/img/articulated-buses-desktop.png' | url }}" style="width: 100%; height: 100%;">
			</div>
		</div>
	</div>
</div>

<!-- <section id="section-select">
	<img class="img-fluid d-lg-none" width="100%" src="{{ '/img/articulated-buses-mobile.png' | url }}" alt="photo of Metro buses" />
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-5">
				<div class="select-wrapper">
					<div class="select-content">
						<h1 class="pt-lg-5 pb-lg-3 px-lg-5">Is my bus line changing?</h1>

						{% case mode %}
							{% when 'all' %}
								{% include 'index/all-changes' %}
							{% when 'select' %}
								{% include 'index/select-line' %}
							{% else %}
								{% include 'index/email-signup' %}
						{% endcase %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->