---
layout: default
mode: 'email'
# modes: 'email', 'all', 'select'
message: 'Metro is relentlessly focused on making your bus system better. Get advanced notice of future improvements to your bus line.'
# Metro is making service changes to bus lines starting on Sunday, June 19, to provide riders with more reliable and predictable service. Get advanced notice of the upcoming improvements to your bus line.
---

<!-- 1. Pre-launch - comment out below and replace with email signup version -->
<!-- pre-launch call to action-->
<section id="section-select">
	<img class="img-fluid d-lg-none" width="100%" src="img/articulated-buses-mobile.png" alt="photo of Metro buses" />
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-5">
				<div class="select-wrapper">
					<div class="select-content">
						<h1 class="pt-lg-5 pb-lg-3 px-lg-5">Is my bus line changing?</h1>

						{% case mode %}
							{% when 'all' %}
								{% include 'index-all-changes.liquid' %}
							{% when 'select' %}
								{% include 'index-select-line.liquid' %}
							{% else %}
								{% include 'index-email-signup.liquid' %}
						{% endcase %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>